/**************************************************
GENERAL
**************************************************/

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration: none;
}



/**************************************************
HEADING
**************************************************/

#logo {
	text-align: center;
	margin: 0;
}

h1 {
	font-family: 'Changa One', sans-serif;
}



/**************************************************
COLORS
**************************************************/

/* Site Body */
body {
	background: #fff;
	color: #999;
}

/* Green Header */
header {
	background: #6ab47b;
	border: #599a68;
}

/* Nav Background on Mobile Devices */
nav {
	background: #599a68;
}

/* Logo Text */
h1, h2 {
	color: #fff;
}

/* Links */
a{
	color: #6ab47b;
}

/* Nav Link */
nav a, nav a:visited {
	color: #fff
}

/* Selected Nav Link */
nav a.selected, nav a:hover {
	color: #32673f;
}